@charset "UTF-8";

/*
 * Tag decorations
 */
body {
	margin: 0;
	background-color: white;
	background-image: url('./images/background.png');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
}

/*
 *Form styling
 */
.form-group label {
  margin-right: .25rem;
	margin-bottom: .5rem;
}

.form-group input {
  margin-left: .25rem;
	margin-bottom: .5rem;
  float: right;
}

.content-container {
	background-color: white;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(211, 182, 156, 1);
	
}

.content-title {
	text-align: center;
	font-weight: bold;
	font-size: larger;
	margin-bottom: .5rem;
}

.form-error {
	color: red;
	font-size: small;
	font-style: italic;
}
